body {
  margin:0;
  padding:0;
  background:#F7FFFF;
  color:#333;
  font:12px/20px 'Verdana', sans-serif;
}

a, code {
  color:#1F2780;
}

div.download {
  padding:10px 0;
}

div.download a {
  font:20px/30px 'Verdana', sans-serif;
}

.column {
  width:600px;
  margin:10px auto;
}

#map {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.marker {
  background: rgba(51, 102, 153, .5);
  border:1px solid rgba(51, 102, 153, 1);
  display:block;
  text-align: center;
}

.mmg-default {
  background: yellow;
  color: yellow;
  width: 1px;
  height: 1px;
}

.highlight {
  border: 2px solid white;
  color: white;
}